div.centered{margin:0 auto}
.tour .btn{margin-bottom:11px}
.toggling-password-input{position:relative}
.toggling-password-input .glyphicon{cursor:pointer;color:#036285;display:block;font-size:20px;position:absolute;right:8px;top:8px;z-index:100}
.colortext-info{color:#30708F}
.colortext-danger{color:#a94442}
.alert-container div.colortext{padding:3px 12px}

/* overloads */
#messaging .view-wrapper{padding:0 20px}
#messaging .table-hover > tbody > tr.nohover:hover > td, .table-hover > tbody > tr.nohover:hover > th{background:#fff}
#messaging .highlighted-row.green td{background-color:#DFF0D8 !important}
#messaging .highlighted-row.blue td{background-color:#D9EDF7 !important}
#messaging .highlighted-row.yellow td{background-color:#FCF8E3 !important}
#messaging .highlighted-row.red td{background-color:#F2DEDE !important}
#messaging .text.green{color:#5CB85C;font-weight:normal}
#messaging .text.blue{color:#5BC0DE}
#messaging .text.gray{color:#aaa}
#messaging .text.darkgray{color:#777}
#messaging .vertical-line{margin:0;padding:0 14px;display:inline}
#messaging .well-title{font-size:19px;font-weight:300;margin:0;padding:5px 5px 10px 8px}
#messaging .tooltip-danger{color:#B81000;left:5px;top:-1px}
#messaging .padding-sm{padding:4px 0}
#messaging .same-line button, #breadcrumb .same-line button{float:left;margin-right:5px}
#messaging .same-line .same-line-control, #breadcrumb .same-line .same-line-control{overflow:hidden;min-width:140px}
#messaging .radio.disabled label{opacity:.4}
#messaging .btn.btn-primary{border:solid 1px #0a394f;background-color:#036285}
#messaging .label, .nav-tabs.two > li > a, #messaging .nav-tabs.three > li > a, #messaging .nav-tabs.four > li > a, #messaging .alert, #messaging .panel, #messaging .panel-group .panel{border-radius:4px}
#messaging .repeater-header input.form-control, #messaging .repeater-header select.form-control{margin-bottom:5px;border-radius:4px}
#messaging .app-view{background:#d9d9d9}
#messaging .required{color:#ff0000;font-size:16px}
#messaging #user-nav-menu{display:block}

/* MMX CONTENT VIEW */
#breadcrumb{padding:4px 0}
#breadcrumb .same-line button{float:right;margin:-1px 0 0 8px}
#mmx-app-list .list-group-item{border-radius:0}
#mmx-apps .tab-pane{margin:20px 0}
#mmx-apps .glyphicon{cursor:pointer}
#mmx-container .view-wrapper{padding:0;margin-top:43px;background:#d9d9d9}
.mmx-global-alert{padding:6px;margin-bottom:0}
.mmx-global-alert .fa{margin:0 8px}
#mmx-active-project-container{border-radius:0;background:#fff;overflow-y:scroll}
#mmx-active-project-container .tab-content{padding:4px 15px 15px 15px}
#mmx-active-project-container .tab-content .tab-pane{background:none;margin-top:10px}
#mmx-active-project-container .controls{text-align:left}
#mmx-active-project-container .col-md-6 .controls{line-height:89px}
#mmx-active-project-container .nav-tabs{border-bottom:1px solid #aaa}
#mmx-active-project-container .nav-tabs > li{margin-bottom:-1px}
#mmx-active-project-container .nav > li > a{padding:10px 33px}
#mmx-active-project-container .nav-tabs > li.active > a{border-color:#aaa #aaa transparent}

/* mmx summary */
#mmx-active-project-container .repeater-list-header td, #mmx-active-project-container .repeater-list-items td{border-left:0}
#mmx-summary-container{overflow-y:auto}
#mmx-summary-container > .row-fluid{margin-top:15px}
#mmx-summary-container .glyphicon-cog{cursor:pointer;font-size:20px;float:right;color:#297BBB}
#mmx-summary-container > .row-fluid > .col-sm-6 > .well{background:#fff;border:solid 1px #fff;border-radius:12px}
#mmx-summary-container > .row-fluid > .col-sm-6 > .well > hr{margin:3px 0 7px;border-color:#ddd}

/* mmx dashboard */
#mmx-dashboard .mmx-dashboard-item{margin-top:30px}
.mmx-dashboard-item img{max-width:78px}
.mmx-dashboard-item > hr{margin:0 0 10px 0;border-color:#ddd}
.mmx-dashboard-item > .media{margin:1px 0 0 0;max-width:700px}
.mmx-dashboard-item .media-body{padding:0;position:relative}
.mmx-dashboard-item .media, .mmx-dashboard-item .media-body{overflow:visible}
.mmx-dashboard-item p.media-line{margin:2px 0}
.mmx-dashboard-item .media-body, #mmx-dash-tab h4{font-weight:500}
.mmx-dashboard-item .progress{margin-bottom:12px;margin-top:3px}
.mmx-dashboard-item .media-heading{margin:0;font-size:14px;font-weight:500}
.mmx-dashboard-item .media-alert{position:absolute;top:5px;right:50px;min-width:300px}
.mmx-dashboard-item .fa-exclamation-triangle{color:#ffbb00}

/* mmx settings */
#mmx-settings .form-group{margin:0}
#mmx-mgmt-tab button{margin-top:20px}
.controls-grouped input, .controls-grouped .glyphicon{float:left}
.controls-grouped input{max-width:600px;width:85%}
.controls-grouped .glyphicon{top:9px;left:9px}
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child){border-bottom-left-radius:0;border-top-left-radius:0}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle){border-bottom-right-radius:0;border-top-right-radius:0}
#mmx-settings .glyphicon-remove{cursor:pointer}


/* mmx test */
#mmx-test .form-group .col-md-2 .button-group{margin-top:25px}

/* mmx endpoints */
#mmx-endpoints .repeater-list-items td:first-child span{cursor:pointer}
#mmx-endpoints .repeater-header-left{float:none}
#mmx-endpoints .repeater-search{width:100%;float:none}
#mmx-endpoints .table-striped > tbody > tr:nth-child(2n+1) > td{background:#daebf0}
#mmx-endpoints .repeater-list-items tr.head td{font-weight:700;border-bottom:1px solid #ddd;padding:8px;background:#F9F9F9}
#mmx-sendmessage-modal .modal-body button{margin-top:10px;margin-bottom:10px}
#mmx-sendmessage-modal .message-push-history .table{font-size:12px}
.mmx-endpoints-showdetails-modal-btn{text-decoration:underline}
#mmx-device-showdetails-modal dd{word-wrap:break-word}
#mmx-device-showdetails-modal .label{font-size:92%;font-weight:500}
.fuelux .repeater-list-items tr.selected:hover{background-color:#66afe9 !important;color:#fff}

/* mmx messages */
.messaging-list .tabmargin{padding:15px}
.messaging-list .dt-container{margin-top:12px}
.messaging-list .repeater-header-left{float:none}
.messaging-list .repeater-search{width:100%;margin-bottom:15px;float:none}
.messaging-list .column-selector{padding:5px 15px 15px 15px}
.messaging-list .column-selector h5{margin-top:5px}
.messaging-list .pillbox > .pill-group > .pill{margin:0 0 8px 0}
.messaging-list .repeater-list-items td img{width:30px}
.messaging-list .repeater-list-items tr.head td{font-weight:700;border-bottom:1px solid #ddd;padding:8px;background:#F9F9F9}
.messaging-list .searchby-input-container .alert-info{background:#fff;border:solid 1px #aaa;padding:3px 10px 7px}
.repeater-header-left .col-sm-4, .repeater-header-left .col-sm-6{padding-left:0}

/* mmx topics */
#mmx-topics > .same-line{max-width:500px}
#mmx-topics > .same-line button{float:right;margin:-1px 0 0 8px}
.fuelux .pillbox.pills-editable .pill-group .pill span.glyphicon-close{top:2px;color:#ff0000;cursor:pointer}
.fuelux .pillbox.pills-editable .pill-group .pill span.glyphicon-close:before{content: "\e020"}
.topic-tag-container{width:50%}
.topic-tag-container .same-line-button{float:right;margin:-1px 0 0 8px}
.topic-tag-container .pill-group{min-height:56px}

/* mmx users */
.generic-control-container{position:relative}
.repeater-icon-controls{position:absolute;top:0;left:0}
.repeater-icon-controls .glyphicon{font-size:19px;color:#008CBA;margin:5px 9px 0 0;cursor:pointer}
.repeater-icon-controls .glyphicon.disabled{color:#bbb;cursor:text}
.repeater-icon-controls .fa{color:#008CBA;margin:6px 9px 0 0;cursor:pointer}
.repeater-icon-controls .fa.disabled{color:#bbb}
#mmx-users .messaging-list .repeater-header-left{padding-left:159px}
#mmx-topics .messaging-list .repeater-header-left{padding-left:128px}

/* quickstart */
#mmx-quickstart .centered{text-align:center}
#mmx-quickstart .centered .form-group{margin-bottom:6px}
#mmx-quickstart .centered .form-group span{font-size:20px;font-weight:300}
#mmx-quickstart .centered .form-group .btn-group{margin-top:5px}
#mmx-quickstart .centered .form-group .btn-sm{padding:7px 20px}
#mmx-quickstart .btn-group{display:inline-block}
#mmx-quickstart .same-width-button{width:100px}
#mmx-quickstart .tab-content{border:none;margin:0;padding:0 15px 15px}
#mmx-quickstart .tab-pane{margin:0 !important;border:solid 1px #aaa}
#mmx-quickstart .tab-pane, #mmx-quickstart .table{border-radius:6px}
#mmx-quickstart .table{margin-bottom:0}
#mmx-quickstart .numbering{font-size:25px;text-indent:15px}
#mmx-quickstart .text{margin-top:20px}
#mmx-quickstart .table-striped tr:nth-child(2n+1) > td{background:#e3e3e3}
.download-compiled-source{text-decoration:underline}

/* profile */
#messaging #profile-container{background:#EFEFEF}

/* footer */
#footer{padding:0}

/* feedback */
#leave-feedback-container{opacity:0;text-align:center;z-index:100000;background:#fff;position:fixed;right:1px;bottom:1px;box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);border:solid 1px #ccc}
#leave-feedback-container a{outline:none;display:block;padding:5px 12px;color:#fff;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);line-height:17px;text-decoration:none;background:#465C6D;transition:all 0.2s ease-in-out 0s}
#leave-feedback-container a:hover, #leave-feedback-container a:active{background:#669DB6}
#leave-feedback-container p{padding-left:10px;padding-right:10px;text-align:left;color:#666;font-size:12px}
#feedback-content, #feedback-complete, #feedback-error{color:#fff;width:240px}
#feedback-complete p, #feedback-error p{text-align:center}
#feedback-content label{font-weight:bold}
#leave-feedback-container h4{font-size:18px;color:#555}
#leave-feedback-container .form-control{margin-bottom:10px}
#leave-feedback-container button{margin-top:0;min-width:100%}

/*
 * Original version: 1.0 ? 2010 Andrew Valums ( andrew(at)valums.com )
 * Current Maintainer (2.0+): 2012, Ray Nicholus ( fineuploader(at)garstasio.com )
 *
 * Licensed under MIT license, GNU GPL 2 or later, GNU LGPL 2 or later, see license.txt.
 */
.qq-uploader{position:relative;width:100%}
/* .qq-upload-button{display:block;width:105px;padding:7px 0;text-align:center;border-bottom:1px solid #DDD;color:#FFF} */
.qq-upload-button-focus{outline:1px dotted #000}
.qq-upload-drop-area,.qq-upload-extra-drop-area{position:absolute;top:0;left:0;width:100%;height:100%;min-height:30px;z-index:2;background:#FF9797;text-align:center}
.qq-upload-drop-area span{display:block;position:absolute;top:50%;width:100%;margin-top:-8px;font-size:16px}
.qq-upload-extra-drop-area{position:relative;margin-top:50px;font-size:16px;padding-top:30px;height:20px;min-height:40px}
.qq-upload-drop-area-active{background:#FF7171}
.qq-upload-list{margin:0;padding:0;list-style:none;float:right}
.qq-upload-list li, .pw-wsdl-url-processing li{border:none;margin:10px 0 0 0 !important;padding:9px;line-height:15px;font-size:16px;background-color:#fff}
.qq-upload-file,.qq-upload-spinner,.qq-upload-size,.qq-upload-cancel,.qq-upload-retry,.qq-upload-failed-text,.qq-upload-finished{margin-left:8px}
.qq-upload-spinner{display:inline-block;background:url(../images/loading.gif);width:15px;height:15px;vertical-align:middle}
.qq-upload-finished{display:none;width:15px;height:15px;vertical-align:text-bottom}
.qq-upload-retry{display:none;color:#000}
.qq-upload-cancel{color:#000}
.qq-upload-retryable .qq-upload-retry{display:inline}
.qq-upload-size,.qq-upload-cancel,.qq-upload-retry{font-size:12px;font-weight:normal}
.qq-upload-failed-text{display:none;font-style:italic;font-weight:bold}
.qq-upload-failed-icon{display:none;width:15px;height:15px;vertical-align:text-bottom}
.qq-upload-fail .qq-upload-failed-text{display:inline}
.qq-upload-retrying .qq-upload-failed-text{display:inline;color:#D60000}
.qq-upload-list li.qq-upload-success{background-color:#FFF;color:#5DA30C}
.qq-upload-list li.qq-upload-fail{background-color:#FFF;color:#D60000}
.qq-progress-bar{background:-moz-linear-gradient(top,rgba(30,87,153,1) 0,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(30,87,153,1)),color-stop(50%,rgba(41,137,216,1)),color-stop(51%,rgba(32,124,202,1)),color-stop(100%,rgba(125,185,232,1)));background:-webkit-linear-gradient(top,rgba(30,87,153,1) 0,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);background:-o-linear-gradient(top,rgba(30,87,153,1) 0,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);background:-ms-linear-gradient(top,rgba(30,87,153,1) 0,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);background:linear-gradient(to bottom,rgba(30,87,153,1) 0,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);width:0;height:15px;border-radius:6px;margin-bottom:3px;display:none}
.qq-uploader .btn{margin-right:8px}
.qq-upload-button{background-color:#fff;border-color:#ccc;color:#333}
.qq-upload-list li, .pw-wsdl-url-processing li{margin:0 0 7px !important;border:none}
.qq-upload-size{display:none !important}
.qq-upload-fail .qq-upload-file{display:none !important}

@media only screen and (max-width:767px){
    #mmx-messages-list .dt-container .col-sm-6{padding:0}
    .vertical-line{display:block;visibility:hidden}
}

@media only screen and (max-width:767px){
    .table-layout{height:100%;position:absolute;padding-top:50px}
    .table-layout .table-cell{display:table-cell}
    #mmx-container .view-wrapper{margin-top:75px}
}
